:root {
    --colorfondo1: #4fdf8d;
    --colorfondo2: #ffffff;
    --colorletra1: #ffffff;
    --colorletra2:  #000000;
    --colorfondocabecera: #82E0AA;
    --altocabecera: 64px;
}



body {
    margin: 0px;
    background-color: var(--colorfondo2);
}


.cabecera{
    background-color: var(--colorfondocabecera);
    height: var(--altocabecera);
}

.cabecera div {
    display:inline-block;
    vertical-align: top;
}

.cabecera nav{
    display: inline-block;
    box-sizing: content-box;
    vertical-align: top;
    text-align: center;
}

.cabecera nav a{
    color: var(--colorletra1);
    height: var(--altocabecera);
    line-height: var(--altocabecera);
    vertical-align: top;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 25px;

}

.fotoprincipal{
    background-color: var(--colorfondo1);    
}

.fotoprincipal img {
    width: 100%;
}

.fotoprincipal p {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    margin-top: 500px;
    left: 0;
    font-size: 15px;
}

.contacto{
    background-color: var(--colorfondo1);
    width: 100%;
    text-align: right;
    line-height: 50px;
}


.contacto.redesociales{
    float: right;
    position: relative;
    border-radius: 50%;
    
}

.contacto.redesociales a {
    text-decoration: none;
}

.contacto.redesociales a i{
    color: var(--colorfondo1);
    background-color: var(--colorletra1);
    border-radius: 50%;
}

.principal {
    width: 100%;
    padding: 0px;
    margin: 0px;

}

.principal .crowfunding {
    box-sizing: border-box;
    display: inline-block;
    width: 49%;
    
}

.principal .rescate {
    box-sizing: border-box;
    display: inline-block;
    width: 49%;
}

.rescatados {
    box-sizing: border-box;
    background-color: var(--colorfondo1);
    
}

.principal .crowfunding  a {
    border: none;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    width: -webkit-fill-available;
}

.grid-item {
    background-color: var(--colorfondo1);
    border: 1px;
    text-align: center;
}


.grid-item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}


.grid-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.grid-item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.grid-item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

.grid-item:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.grid-item:nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

.grid-item:nth-child(7) {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.piedepagina {
    margin: 0;
}

.menu .box {
    background-color: var(--colorfondo1);
    height: 64px;
    line-height: 64px;
    text-align: center;
    border: 1px solid var(--colorfondo1);
    border-radius: 4px;
    vertical-align: middle;
    
}
 

@media (min-widht: 400px) {
    .cabecera nav {
        width: 100%;
    } 

    .cabecera nav a {
        width: 100%;
    }

    .fotoprincipal img {
        width: 100%;
    }

    .fotoprincipal img a {
        width: 100%;
    }

    .contacto.redesociales {
        width: 100%;
    }


    .principal .rescatados {
        width: 100%;
    }

    .piedepagina {
        width: 100%;
    }
}


